html {
  display: flex;
  justify-content: center;
  background-color: #DAC490;
}
form {
  width: 100vw;
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #DAC490;
}
label {
  /* color: white;
  text-shadow: 1px 1px 5px black; */
  color: black;
} 
select option {
  color: black;
}
.question label {
  margin-bottom: 5px;
}
.muscles {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nbprio {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}